@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Lato:wght@100;300;400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans';
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    min-height: 100%;
}

/* Navbar */

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 1;
}

#header h1{
    font-size: 35px;
    color: #f0f8ff;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #f0f8ff;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active{
    color: rgb(255, 55, 95);
}

#navbar li a:hover::after,
#navbar li a.active::after{
    content: "";
    width: 30%;
    height: 2px;
    background-color: rgb(255, 55, 95);
    position: absolute;
    bottom: -4px;
    left: 20px;
}

/* Home */
#home{
    width: 100%;
    height: 800px;
    overflow: hidden;
    background-color: black;
}

.homeimgholder{
    width: 100%;
    height: 100%;
}

.homeimgholder img{
    width: 60%;
    height: 93%;
    position: absolute;
    top: 10%;
    left: 40%;
}

.homeimgholder h1{
    position: absolute;
    top: 40%;
    left: 15%;
    color: #f0f8ff;
    font-size: 60px;
}

.homeimgholder h1 span{
    color: rgb(255, 55, 95);
    font-size: 100px;
}

.homeimgholder p{
    position: absolute;
    top: 62%;
    left: 15%;
    color: #f0f8ff;
    font-size: 30px;
}

/* About */
#about{
    width: 100%;
    height: 800px;
}

.abtmain{
    width: 100%;
    height: 100%;
    background-image: url(./Resources/about.jpg);
    background-size: cover;
    display: flex;
    justify-content: flex-end;
}

.context{
    width: 50%;
    height: 100%;
    color: #f0f8ff;
    padding: 50px;
}

.context h1{
    color: rgb(255, 55, 95);
    font-size: xx-large;
    margin: 60px 0 10px;
}

.context p{
    color: #f0f8ff60;
    font-family: 'Lato';
    line-height: 30px;
    text-align: justify;
}

.context button{
    width: 120px;
    height: 40px;
    font-size: 15px;
    margin: 20px 0 20px 540px;
    border-radius: 5px;
    border-style: none;
    background-color: rgb(255, 55, 95);
    color: #f0f8ff;
}

.context button:hover{
    cursor: pointer;
    background-color: rgb(247, 11, 58);
}

/* Accomplishments */
#accomplishments{
    width: 100%;
    height: 1800px;
    background-color: #f0f8ff;
}

.accomplishmentsholder{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 50px;
}

.accomplishmentsholder h1{
    color: rgb(255, 55, 95);
    font-size: xx-large;
    text-align: center;
    margin: 50px;
}

.card1{
    width: 500px;
    height: 350px;
    margin: 50px 0 50px 100px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px;
    background-color: #fbfbfb;
}

.card1:hover{
    transform: scale(1.1);
    transition: 0.5s ease;
}

.divider{
    width: 60%;
    height: 2px;
    background-color: rgb(255, 55, 95);
    margin: 10px 0;
}

.card1 p{
    cursor: pointer;
    text-align: justify;
    line-height: 20px;
}

.card2{
    width: 500px;
    height: 350px;
    margin: 50px 0 50px 850px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px;
    background-color: #fbfbfb;
}

.card2:hover{
    transform: scale(1.1);
    transition: 0.5s ease;
}

.card2 p{
    cursor: pointer;
    text-align: justify;
    line-height: 18px;
}

.verticalruler{
    width: 5px;
    height: 1400px;
    background-color: rgb(255, 55, 95);
    position: absolute;
    left: 51%;
    top: 265%;
}

/* Articles */
#articles{
    width: 100%;
    height: 1000px;
    padding: 30px;
    background-color: #f0f8ff;
}

#articles h1{
    color: rgb(255, 55, 95);
    font-size: xx-large;
    text-align: center;
    margin: 50px;
}

.articlessec{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

.articlecont{
    width: 600px;
    height: 800px;
    margin: 20px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 15px 0 rgba(0, 0, 0, 0.09);
}

.imgholder{
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.imgholder img{
    width: 100%;
    height: 100%;
}

.imgholder img:hover{
    transform: scale(1.1);
    transition: 0.5s ease;
}

.content{
    width: 100%;
    padding: 20px;
}

.content h2{
    font-size: xx-large;
    margin: 10px 0;
}

.content p{
    color: rgb(74, 74, 74);
    margin: 15px 0 20px;
    line-height: 30px;
    font-size: large;
}

.content button{
    width: 150px;
    height: 40px;
    background-color: rgb(255, 55, 95);
    color: #f0f8ff;
    border-style: none;
    font-size: large;
}

.content button:hover{
    cursor: pointer;
    border-color: rgb(255, 55, 95);
    border-style: solid;
    background-color: #f0f8ff;
    color: rgb(255, 55, 95);
    transform: scale(1.02);
    transition: 0.3s ease;
}

/* Contact */
#contact{
    width: 100%;
    height: 700px;
    padding: 70px;
    display: flex;
    justify-content: center;
    background-color: #f0f8ff;
}

#contact h1{
    color: rgb(255, 55, 95);
    font-size: xx-large;
    text-align: center;
    margin: 30px;
}

.contactform{
    width: 450px;
    height: 550px;
    border-radius: 15px;
    background-color: #fbfbfb;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input{
    background-color: white;
    width: 70%;
    margin-left: 15%;
    padding: 16px 16px;
    border-radius: 10px;
    border-color: black;
    margin-bottom: 20px;
}

textarea{
    background-color: white;
    width: 70%;
    margin-left: 15%;
    padding: 16px 16px;
    border-radius: 10px;
    border: 2px solid black;
    margin-bottom: 25px;
}

form button{
    width: 80px;
    height: 40px;
    font-size: 17px;
    background-color: rgb(255, 55, 95);
    color: #f0f8ff;
    border-radius: 5px;
    border-style: none;
    margin-left: 190px;
}

form button:hover{
    cursor: pointer;
    background-color: rgb(247, 11, 58);
}

/* Footer */
footer{
    width: 100%;
    height: 400px;
    background-color: rgb(255, 55, 95);
}

.footercont{
    width: 100%;
    height: 100%;
    color: #f0f8ff;
    text-align: center;
    padding: 50px;
}

.footercont h1{
    font-size: 50px;
    margin: 30px;
    font-family: "Lato";
}

.footercont h2{
    font-size: 30px;
    margin: 30px;
    font-family: "Lato";
}

.icons{
    width: 500px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 25px;
    margin-left: 450px;
}

.icons i:hover{
    cursor: pointer;
    transform: scale(1.3);
    transition: 0.5s ease;
}

.divider2{
    width: 60%;
    height: 2px;
    background-color: #f0f8ff;
    margin: 10px 293px;
}

.footercont p{
    margin-top: 50px;
    font-family: "Lato";
}

/* Media Query */

@media screen and (max-width:600px){
    #header{
        background-color: #fff;
    }

    #header h1{
        font-size: 35px;
        color: black;
    }
    
    #navbar li a{
        text-decoration: none;
        font-size: 16px;
        font-weight: 600;
        color: black;
        transition: 0.3s ease;
    }
}